@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DINOT-Regular';
    src: url(./assets/fonts/DINOT-Regular.ttf);
}
@font-face {
    font-family: 'DINOT-Bold';
    src: url(./assets/fonts/DINOT-Bold.otf);
}
@font-face {
    font-family: 'DINOT-Light';
    src: url(./assets/fonts/DINOT-Light.otf);
}
body{
    font-family: 'DINOT-Regular';
}
h1,h2,h3,h4,h5,h6,label,p,span{
    text-wrap: pretty;
}